@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #121212;
  --title: #f3f3f3;
  --container: hsla(0, 0%, 9%, 0.773);
  --line: hsla(0, 0%, 19%, 0.415);


  --font: "montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

header {
  width: screen;
  justify-content: center;
  display: flex;
  padding: 0.9rem;
}

main {
  padding: 0 0 1.5rem 1.5rem;
}

h1, h2, h3 {
  font-family: var(--font);
  color: var(--title);
}

h1 {
  font-weight: 400;
  font-size: x-large;
}

h2, h3 {
  font-size: large;
  font-weight: 200;
}

.container {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: var(--container);
  border: 1px solid var(--line);
  padding: 0.9rem;
}