@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #121212;
  --title: #f3f3f3;
  --container: hsla(0, 0%, 9%, 0.773);
  --line: hsla(0, 0%, 19%, 0.464);

  --light-red: #ffcece;


  --font: "montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  background-color: var(--background);
}

header {
  width: screen;
  justify-content: center;
  display: flex;
  padding: 1.9rem;
}

main, footer {
  padding: 0 120px;
  display: flex;
}

h1, h2, h3, p {
  font-family: var(--font);
  color: var(--title);
}

h1 {
  font-weight: 200;
  font-size: x-large;
}

h3 {
  font-size: large;
  font-weight: 500;
  margin-bottom: 19px;
}

p {
  font-size: smaller;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.english {
  color: #ec9effcd;
  border-bottom: 1px transparent;
  transition: border-bottom 0.3s ease;
}

.english:hover {
  border-bottom: 1px solid;
}

.container {
  border-radius: 20px;
  background: var(--container);
  border: 1px solid var(--line);
  padding: 1.9rem;
  margin: 0.6rem;
  overflow: hidden;
}

#about {
  width: 350px;
  height: 350px;
}

#copyright {
  width: 350px;
  height: 90px;
}

#general {
  width: 760px;
}

#github-icon, #linkedin-icon {
  font-size: x-large;
  color: #f3f3f398;
}

#html-icon, #css-icon, #js-icon, #node-icon, svg {
  font-size: xx-large;
  color: #f3f3f398;
}

#github-icon:hover, #linkedin-icon:hover {
  color: #f3f3f3;
  transition: color 0.3s ease;
}
