@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #121212;
  --container: hsla(0, 0%, 9%, 0.773);
  --line: hsla(0, 0%, 19%, 0.464);
  
  --white: #f3f3f3;
  --pink: #ec9effcd;
  --blue: #9efcffcd;
  --green: #74fb65cd;
  
  --white-icon: #f3f3f398;
  --white-icon-tr: #f3f3f34c;


  --font: "montserrat", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--line);
  color: var(--pink);
}

body {
  background-color: var(--background);
}

header {
  width: screen;
  justify-content: center;
  display: flex;
  padding: 1.9rem;
}

main {
  padding: 0 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  padding: 0 120px;
  display: flex;
  justify-content: center;
}

h1, h2, h3, p, span, li {
  font-family: var(--font);
  color: var(--white);
}

h1 {
  font-weight: 400;
  font-size: x-large;
}

h3 {
  font-size: large;
  font-weight: 500;
  margin-bottom: 19px;
}

span {
  color: var(--white-icon);
}

p {
  font-size: smaller;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.english-cert {
  color: var(--pink);
  border-bottom: 1px transparent;
  transition: border-bottom 0.3s ease;
}

.english-cert:hover {
  border-bottom: 1px solid;
}

.container {
  border-radius: 20px;
  background: var(--container);
  border: 1px solid var(--line);
  padding: 1.9rem;
  margin: 0.6rem;
  overflow: hidden;
}

.about {
  width: 350px;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 260px;
}

.rightnow {
  display: flex;
  flex-direction: column;
}

.rightnow li {
  font-size: small;
}

.more {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.techs {
  display: flex;
  justify-content: space-between;
}

.next-steps p, .next-steps i {
  color: var(--white-icon-tr);
}

.strong-normal {
  font-weight: 500;
}

.techs > p {
  display: flex;
  align-items: center;
}

.icon, svg {
  font-size: x-large;
  color: var(--white-icon);
}

.gallery {
  width: 400px;
  height: 85%;
  border: 1px solid var(--line);
  border-radius: 15px;
  background-color: var(--container);
}

#github-icon:hover, #linkedin-icon:hover, .about svg:hover {
  color: var(--white);
  transition: color 0.3s ease;
}

@media (max-width: 1000px) {
  /**/
}

@media (max-width: 750px) {
  main, footer {
    padding: 0 60px;
  }

  .about, .skills, .projects, .rightnow, .more {
    width: 100%;
  }

}



/* Scrollbar styles */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--container);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-red);
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--line) var(--container);
}