---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/skills.astro";
import AboutMe from "../components/aboutme.astro";
import Projects from "../components/projects.astro";
---

<Layout title="Oscar Hernandez">
  <div
    class="flex flex-col lg:flex-row items-center lg:items-stretch justify-center mx-[5%] lg:mx-[10%]"
  >
    <AboutMe />
    <Skills />
  </div>
  <div
    class="flex flex-col lg:flex-row items-center lg:items-stretch justify-center mx-[5%] lg:mx-[10%]"
  >
    <Projects />
  </div>
</Layout>
