<section
  class="rounded-3xl bg-[--container] border-2 border-[--line] p-9 w-full"
>
  <p class="text-md leading-relaxed mb-4 text-[#ffffffa4]">
    Passionate about crafting engaging web interfaces, with a strong focus on
    design and user experience. Leveraging frontend technologies to build
    elegant and intuitive digital solutions. Currently pursuing Software
    development technology at Universidad del Valle, Colombia.
  </p>

  <div class="flex md:flex-row flex-col gap-2 justify-between md:items-center">
    <p class="text-md mb-3 md:mb-0 text-[#ffffffa4]">
      English C1 ·
      <a
        class="text-[--pink] border-b border-transparent transition-colors duration-300 ease-in-out hover:border-[--pink]"
        target="_blank"
        href="https://cert.efset.org/HWX9EJ"
        rel="noopener noreferrer"
      >
        Certificate <i class="ri-arrow-right-up-line"></i>
      </a>
    </p>

    <div class="flex gap-2">
      <a
        href="https://github.com/Gothsec"
        target="_blank"
        aria-label="GitHub"
        class="bg-[#ffffff06] p-2 rounded-lg text-[--white-icon] transition-all duration-300 ease-in-out hover:text-[--white] hover:scale-95 hover:bg-[#ffffff15]"
      >
        <i class="ri-github-fill text-3xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/hernandezoscar-dev/"
        target="_blank"
        aria-label="LinkedIn"
        class="bg-[#ffffff06] p-2 rounded-lg text-[--white-icon] transition-all duration-300 ease-in-out hover:text-[--white] hover:scale-95 hover:bg-[#ffffff15]"
      >
        <i class="ri-linkedin-box-fill text-3xl"></i>
      </a>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=oscarandreshernandezpineda@gmail.com&su=Hey%20Oscar!"
        target="_blank"
        aria-label="Gmail"
        class="bg-[#ffffff06] p-2 rounded-lg text-[--white-icon] transition-all duration-300 ease-in-out hover:text-[--white] hover:scale-95 hover:bg-[#ffffff15]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 -2 24 24"
          class="text-3xl"
        >
          <path
            fill="currentColor"
            d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>
