---
import Container from "@/components/container.astro";
---

<Container class="lg:w-2/3 w-full">
  <h3 class="text-2xl font-medium mb-9">About Me</h3>

  <p class="text-md leading-relaxed mb-4">
    I'm a software developer with a strong focus on <strong class="font-medium"
      >frontend solutions</strong
    >.
  </p>

  <p class="text-md leading-relaxed mb-4">
    I have experience with Python, C++, and Java. Currently, I'm focused on web
    development technologies and am pursuing studies at Universidad del Valle,
    Colombia.
  </p>

  <p class="text-md leading-relaxed mb-4">
    <strong class="font-medium">English C1</strong> ·
    <a
      class="text-[--pink] border-b border-transparent transition-colors duration-300 ease-in-out hover:border-[--pink]"
      target="_blank"
      href="https://cert.efset.org/HWX9EJ"
      rel="noopener noreferrer"
    >
      Certificate <i class="ri-arrow-right-up-line"></i>
    </a>
  </p>

  <div class="flex gap-2 mt-6">
    <a
      href="https://github.com/Gothsec"
      target="_blank"
      aria-label="GitHub"
      class="text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-[--white]"
    >
      <i class="ri-github-fill text-3xl"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/hernandezoscar-dev/"
      target="_blank"
      aria-label="LinkedIn"
      class="text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-[--white]"
    >
      <i class="ri-linkedin-box-fill text-3xl"></i>
    </a>
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=oscarandreshernandezpineda@gmail.com&su=Hey%20Oscar!"
      target="_blank"
      aria-label="Gmail"
      class="text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-[--white]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        viewBox="0 -3 24 24"
        class="text-3xl"
      >
        <path
          fill="currentColor"
          d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64"
        ></path>
      </svg>
    </a>
  </div>
</Container>
