<header class="flex flex-col sm:flex-row items-center justify-between p-4 my-6 mx-4 md:mx-[20%]">
  <div class="flex flex-col sm:flex-row items-center sm:gap-4 md:gap-4">
    <h1 class="text-3xl text-[#ffffffc1] my-2 md:my-9">Oscar Hernandez</h1>
    <span class="text-[#ffffff60] text-lg mt-1 md:text-xl">Software Developer</span>
  </div>
</header>