<section class="rounded-3xl bg-[--container] border-2 border-[--line] p-8 m-2 hover:border-[--white-icon-tr] transition-all duration-700 ease-in-out w-full">
  <h3 class="text-2xl font-medium mb-9">More about me</h3>
  <p class="text-md leading-relaxed mb-4 text-[#ffffffa4]">
    I've been passionate about graphic design since I was 15, and for the past
    three years, I’ve brought that passion into action by designing, editing
    videos, and handling digital marketing and sales for my family business.
    With two years of experience in software development, I blend creativity
    with technical skills to deliver engaging digital solutions.
  </p>
</section>
