---
import Button from "./button.astro";
import ProjectCard from "./projectCard.astro";

import stockinImage from "../assets/img/stockin.png";
import breakEvenImage from "../assets/img/calculadora.png";
import svglImage from "../assets/img/svgl.png";

const projects = [
{
    title: "Svgl.app (contribuitor)",
    description: "A beautiful library with SVG logos. Built with Sveltekit & Tailwind CSS.",
    technologies: [
      {
        icon: '<i class="ri-svelte-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-tailwind-css-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
    ],
    imageUrl: svglImage,
    codeUrl: "https://github.com/pheralb/svgl",
    demoUrl: "https://svgl.app/",
  },
  {
    title: "StockIn",
    description: "Inventory management system for Pymes",
    technologies: [
      {
        icon: '<i class="ri-reactjs-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-tailwind-css-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-supabase-fill text-2xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
    ],
    imageUrl: stockinImage,
    codeUrl: "https://github.com/Gothsec/stockin-demo",
    demoUrl: "https://stockin-demo.vercel.app/",
  },
  {
    title: "Break-even Calculator",
    description:
      "Calculate the break-even point of a business, with the income of the units and the cost of the variables.",
    technologies: [
      {
        icon: '<i class="ri-html5-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-css3-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-javascript-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
    ],
    imageUrl: breakEvenImage,
    codeUrl: "https://github.com/Gothsec/Calculadora-de-Punto-de-Equilibrio",
    demoUrl: "https://calculadora-de-punto-de-equilibrio.vercel.app/",
  },
];
---

<section
  class="rounded-3xl bg-[--container] border-2 border-[--line] p-8 m-2 w-full flex flex-col gap-4"
>
  <h3 class="text-2xl font-medium mb-4">Projects</h3>
  <div class="flex flex-col gap-6">
    {projects.map((project) => <ProjectCard {...project} />)}

    <Button href="https://github.com/Gothsec?tab=repositories">
      Look all my projects on <i
        class="ri-github-fill mx-2 text-2xl text-[--white-icon]"></i>
    </Button>
  </div>
</section>
