---
import Button from "./button.astro";
import ProjectCard from "./projectCard.astro";

import stockinImage from '../assets/img/stockin.png';
import defaultImage from '../assets/img/default.png';

const projects = [
  {
    title: "StockIn",
    description: "Inventory management system for Pymes",
    technologies: [
      {
        icon: '<i class="ri-reactjs-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-tailwind-css-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-supabase-fill text-2xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
    ],
    imageUrl: stockinImage,
    codeUrl: "https://github.com/Gothsec/stockin",
    demoUrl: "https://stockin.gothsec.workers.dev/",
  },
  {
    title: "Coming soon",
    description: "Coming soon",
    technologies: [
      {
        icon: '<i class="ri-nextjs-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-supabase-fill text-2xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
    ],
    imageUrl: defaultImage,
  },
  {
    title: "Coming soon",
    description: "Coming soon",
    technologies: [
      {
        icon: '<i class="ri-nextjs-fill text-3xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
      {
        icon: '<i class="ri-supabase-fill text-2xl text-[--white-icon] transition-colors duration-300 ease-in-out hover:text-white"></i>',
      },
    ],
    imageUrl: defaultImage,
  },
];
---

<section class="rounded-3xl bg-[--container] border-2 border-[--line] p-8 m-2 hover:border-[--white-icon-tr] transition-all duration-700 ease-in-out w-full flex flex-col gap-4">
  <h3 class="text-2xl font-medium mb-4">My Projects</h3>
  <div class="flex flex-col gap-6">
    {projects.map((project) => <ProjectCard {...project} />)}

    <Button href="https://github.com/Gothsec?tab=repositories">
      Look all my projects on <i
        class="ri-github-fill mx-2 text-2xl text-[--white-icon]"></i>
    </Button>
  </div>
</section>
