---
const { text } = Astro.props;
---

<div class="relative inline-block">
  <div class="group">
    <slot />
    <div
      class={`absolute pointer-events-none bottom-full left-1/2 -translate-x-1/2 mb-2 z-10 mx-auto`}
    >
      <div class="relative">
        <span
          class="block invisible group-hover:visible opacity-0 group-hover:opacity-100 translate-y-1 group-hover:translate-y-0 scale-95 group-hover:scale-100 transition-all duration-300 bg-[--tooltip] text-[--white] text-sm rounded-md py-1 px-2 whitespace-nowrap"
        >
          {text}
        </span>
      </div>
    </div>
  </div>
</div>
